/*     STYLES     */

$bg-color: desaturate(red, 75%);
$tx-color:darken(#fff, 25%);
body {
    background-color: $bg-color;
}

h1 {
    color: $tx-color;
    &:hover {
        color:black;
         transition: color 1s ease;   
    }
}

h2 {
     font-family: Consolas, monospace;  
    font-weight: bold;
}
#headline {
     color: blue; 
    font-size: 0.3rem;;
}
footer {
    h3 {
        font-family: cursive;
    }
    p {
         color:desaturate(yellow, 50%);   
    }
}